/* ============================================================================= */
.loadingWrapper {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  display: block;
  height: 54px;
  width: 10px;
  background: #225bce;
  margin-right: 24px;
  animation: scale 0.7s ease-in-out infinite;
  transform-origin: 50% 50%;
  box-shadow: 2px 2px 2px #3b3b3b;
}

.bar.one {
  animation-delay: 0s;
}

.bar.two {
  animation-delay: 0.2s;
}

.bar.three {
  animation-delay: 0.4s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* =================== LOADER =================== */
.miniLoader {
  border: 8px solid #d9d7d7;
  border-radius: 50%;
  border-top: 8px solid #8a8b8d;
  width: 30px;
  height: 30px;
  -webkit-animation: spin-loader 1.25s linear infinite; /* Safari */
  animation: spin-loader 1.25s linear infinite;
}

/* Safari */
@-webkit-keyframes spin-loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* =================== end of: LOADER =================== */
